{% extends 'base.html.twig' %}
{# form.autores.html.twig #}
{% form_theme formulario 'bootstrap_5_layout.html.twig' %}
{% block title %}Hello AutoresController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/var/www/html/symfony7/src/Controller/AutoresController.php</code></li>
        <li>Your template at <code>/var/www/html/symfony7/templates/autores/index.html.twig</code></li>
    </ul>
</div>

<section class="container mt-5">
    <nav class="bg-primary p-4 rounded shadow w-50 mx-auto text-white">
        <h3 class="mb-4 text-center">Añadir Nuevo Autor</h3>

        {{ form_start(formulario) }}  {#INICIO FORMULARIO#}
        {{ form_widget(formulario) }} {#FORMULARIO#}      
        {{ form_end(formulario) }}    {#FIN FORMULARIO#}
    </nav>
</section>
{% endblock %}

